{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<form method="POST" action="">

    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" name="username" id="username" class="form-control" />
      <label class="form-label" for="form2Example1">Username</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" name="password" id="password" class="form-control" />
      <label class="form-label"  for="form2Example2">Password</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <input type="submit" value="login" type="button" id="user-login" class="btn btn-primary btn-block mb-4"/>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="{% url 'login' %}">Register</a></p>
    </div>
  </form>
{% endblock content %}